.steps {
  li {
    width: calc(33% - 0.7rem);
    background: rgba(237, 235, 234, 0.6);
    padding: 1rem;
    text-align: center;
    color: #6c757d;
    & + li {
      margin-left: 1rem;
    }
    &.active {
      background: #414666;
      color: #fff;
    }
    small {
      display: block;
    }
  }
}

.cart-img {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .coupon-input {
    border: 1px solid #adb5bd;
    color: #676b85;
    font-weight: 500;
    padding: 1rem;
    background: transparent;
    border-radius: 0;
    text-align: center;
    &:hover {
      color: #414666;
      border-color: #414666;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .use-coupon {
    &:hover {
      color: #676b85;
      border-color: #adb5bd;
    }
  }
}
